# Data Analytics
numpy
pandas

# Preprocessing
nltk
spacy

# Embedding
sentence-transformers

# VectorDB
faiss-cpu

# Chunking
langchain
langchain-openai
langchain-community
langchain-text-splitters

# LLM
openai

# Load Env.
python-dotenv

# Notebook
jupyter